@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$background-color-primary: #f6f6f6;
$background-color-secondary: #eaeaea;
$linear-gradient: linear-gradient(170deg, $color-primary, $color-secondary);

@mixin drop-shadow {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1 {
  font-family: 'Shrikhand', cursive;
  font-weight: bold;
  font-size: 1.5rem;
}

h2 {
  font-family: 'Roboto', cursive;
  font-weight: bold;
  font-size: 1.125rem;
}

p {
  color: #353535;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}