.home__restaurant__card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 20px;
  background-color: white;

  @media (min-width: 1024px) {
    width: 490px;
    flex-wrap: wrap;
  }

  &__img {
    position: relative;
    width: 100%;

    img {
      width: 100%;
      object-fit: cover;
      border-radius: 15px 15px 0 0;
      aspect-ratio: 3 / 2;

      @media (min-width: 1024px) {
        aspect-ratio: 3 / 1;
      }
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;

    i.fa-heart {
      width: 30px;
      height: 30px;
    }

    i.fa-solid {
      color: $color-primary;
    }

    &__heart {
      height: 22px;
      width: 21px;
      gap: 10px;

    }
  }
}

.restaurant__menu__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 20px;
  background-color: white;
  padding: 15px;
  @include drop-shadow;

  &__entitled {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  h3 {
    font-size: 18px;
    font-weight: 500;
  }

  p {
    font-weight: lighter;
    text-overflow: ellipsis;
  }

  span {
    font-weight: 500;
  }
}