.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 20px;
  color: white;
  background: #353535;

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;

  }

  li {
    display: flex;

    .fa-solid {
      width: 25px;
    }
  }


  img {
    width: 135px;
    height: 27px;
    filter: brightness(0) invert(1);
  }

  @media (min-width: 1024px) {
    flex-direction: row-reverse;
    gap: 110px;

    ul {
      flex-direction: row;
      gap: 20px;
    }
  }
}