.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;

  &__img {
    position: relative;
    background: center / cover no-repeat url("../../assets/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    width: 100%;
    height: 275px;
  }

  &__menu {
    width: 100%;
    border-radius: 40px 40px 0 0;
    margin-top: -30px;
    background: $background-color-primary;
    z-index: 1;

    @media(min-width: 1024px) {
      width: 80%;
    }

    &__title {
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px 15px;
      gap: 35px;

      h1 {
        font-size: 1.75rem
      }

      @media (min-width: 1024px) {
        justify-content: center;
        gap: 35px;
      }
    }

    &__description {
      width: 100%;
      padding: 5px 15px;

      @media (min-width: 1024px) {
        max-width: 70%;
        margin: auto;
      }

      h2 {
        font-weight: lighter;
        margin-bottom: 15px;

        &::after {
          content: "";
          display: block;
          width: 50px;
          height: 3px;
          background-color: $color-tertiary;
          margin-top: 5px;
        }
      }

      &__part {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 50px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}